body {
    background-color: #000000;
    color: #FFFFFF;
}
.txt1{
    font-size: 1vw;
}
.txt2{
    font-size: 2vh;
}
.txt3{
    font-size: 3vmin;
}
.txt4{
    font-size: 4vmax;
}
.txt5{
    font-size: 15vmax;
}
